.loading-animation {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    --div0: #E5C3D1;
    --div1: #F7A9A8;
    --div2: #EF798A;
    --div3: #7D82B8;
    --div4: #613F75;
  }
  
  .loading-animation__div-container {
    display: flex;
    align-items: center;
  }
  
  .div0, .div1, .div2, .div3, .div4 {
    width: 18px;
    height: 100px;
    margin: 50px 8px 0px 8px;
    border-radius: 7px;
  
    animation: 1.5s infinite bounce;
    animation-timing-function: ease-in-out;
  }
  
  .div0 {
    background-color: var(--div0);
    animation-delay: 200ms;
  }
  
  .div1 {
    background-color: var(--div1);
    animation-delay: 300ms;
  }
  
  .div2 {
    background-color: var(--div2);
    animation-delay: 400ms;
  }
  
  .div3 {
    background-color: var(--div3);
    animation-delay: 500ms;
  }
  
  .div4 {
    background-color: var(--div4);
    animation-delay: 600ms;
  }
  
  @keyframes bounce {
  
    0% {
      transform: translateY(0px);
    }
  
    40% {
      transform: translateY(-30px)
    }
  
    100% {
      transform: translateY(0px);
    }
  }